<!DOCTYPE html>
<html lang="ko-KR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>VueJS 학습</title>
  <style>
    ::-moz-placeholder {
      color: #99a4ac;
    }
    :-ms-input-placeholder {
      color: #99a4ac;
    }
    ::-webkit-input-placeholder {
      color: #99a4ac;
    }
    body {
      margin: 3rem;
      background: #ffffff;
      color: #333333;
    }
    .user-input {
      padding: 0.4em;
      border: 3px solid currentColor;
      color: #99a4ac;
    }
    .message {
      font-weight: bold;
      color: #99a4ac;
    }

    [v-cloak] {
      display: none;
    }
  </style>
  <!-- 스토어 파일 로드 -->
  <script src="./store.js"></script>
  <!-- VueJS 로드 -->
  <script src="https://unpkg.com/vue"></script>
</head>
<body>

  <!-- 정적 HTML 마크업 -->
  <ul class="lists">
    <li class="list-item">
      대한상공회의소
      <button type="button" class="delete">제거</button>
    </li>
    <li class="list-item">
      정보화진흥원
      <button type="button" class="delete">제거</button>
    </li>
    <li class="list-item">
      한국인터넷진흥원
      <button type="button" class="delete">제거</button>
    </li>
    <li class="list-item">
      한국인터넷전문가협회
      <button type="button" class="delete">제거</button>
    </li>
  </ul>

  <hr>

  <!-- VueJS 가상 DOM을 사용하는 동적 템플릿 처리 -->
  <div id="demo" v-cloak>
    <input type="text" v-model="new_item">
    <button v-on:click="updateItem" type="button">Add</button>
    <ul class="lists">
      <li class="list-item" v-for="(org, index) in orgs">
        {{ org }}
        <button
          type="button"
          class="delete"
          v-on:click="removeItem(index)">Remove</button>
      </li>
    </ul>
  </div>

  <script>
  new Vue({
    el: '#demo',
    data: {
      new_item: '',
      orgs: [
        '대한상공회의소',
        '정보화진흥원',
        '한국인터넷진흥원',
        '한국인터넷전문가협회',
      ]
    },
    methods: {
      removeItem(remove_id){
        this.orgs.splice(remove_id, 1);
      },
      updateItem(){
        let item = this.new_item;
        this.orgs.unshift(item);
      }
    }
  })
  </script>

</body>
</html>