/* BASE */
html {
  overflow-y: scroll;
  font-size: 100%;
  background: #ffffff;
}

body {
  margin: 0;
  height: 100vh;
  font: 87.5%/1.5 "Spoqa Han Sans", Sans-Serif;
  background: inherit;
}

/* LAYOUT */
.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.row::after {
  content: '';
  display: block;
  clear: both;
}

.column {
  float: left;
}