.container {
  margin: 3rem;
}

.a11y-hidden {
  overflow: hidden;
  position: absolute;
  clip:     rect(0 0 0 0); /* IE 6,7 */
  clip:     rect(0,0,0,0);
  width:    1px;
  height:   1px;
  margin:   -1px;
  border:   0;
  padding:  0;
}
.a11y-hidden.focusable:focus {
  overflow: visible;
  position: static;
  clip:     auto;
  width:    auto;
  height:   auto;
  margin:   0;
}
caption.a11y-hidden { position: static; }

.user-input {
  border: 5px solid #474cc5;
  color: #474cc5;
  padding: 0.3em 0.5em;
}

[v-cloak] {
  display: none;
}

.input-result,
.print-people {
  margin-top: 2rem;
}

.pointer {
  cursor: pointer;
}

.is-todo-input {
  width: 30em;
  border-color: #00d1b2;
  color: #00d1b2;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
}

.form-control {
  margin-bottom: 2rem;
}

.button.is-fr {
  position: relative;
  top: -6px;
  float: right;
}

.is-currency {
  border-color: #3273dc;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  font-weight: 700;
}

.result-currency {
  margin-top: 1rem;
  padding-bottom: 0.2em;
  border-bottom: 3px solid currentColor;
}

.control {
  font-weight: 900;
  color: #474cc5;
}
