extends ../partials/layout

append config
  - var current = 'about'
  - var pageTitle = 'About page'

block stylesheets
  //- link(rel="stylesheet", href=`/css/${current}.css`)

block main
  h1 About

block scripts
  //- script(src=`/js/${current}.js`)