/* BASE */
html {
  overflow-y: scroll;
  font-size: 100%;
  background: $bg-color;
}

body {
  margin: 0;
  height: 100vh;
  font: 87.5%/1.5 "Spoqa Han Sans", Sans-Serif;
  color: $fg-color;
  background: inherit;
}