<!DOCTYPE html>
<html lang="ko-KR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge"></meta>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Study Vue JS Framework</title>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.0/css/bulma.min.css">
  <link rel="stylesheet" href="css/vue-style.css">
</head>
<body>

  <div class="container" v-cloak>
    <div class="pre-data" v-if="using_v_text">
      <div class="form-control">
        <label
          class="a11y-hidden"
          for="user-input">사용자 입력</label>
        <!-- v-* : Vue 디렉티브(Directive) -->
        <input
          id="user-input"
          class="user-input"
          type="text"
          v-model="input">
      </div>

      <!-- v-if  VS  v-show 차이점 -->
      <!-- v-if의 경우, 조건부 렌더링이 가능 -->
      <!-- v-show의 경우, 수시로 토글할 경우 유용 -->

      <p
        class="box input-result"
        v-if="using_v_text"
        v-text="input">...</p>

      <p class="box input-result">{{ input }}</p>

      <hr>

      <ul class="print-people">
        <li class="box" v-for="user of people">
          <h4 class="title is-4 user-name">{{ user.name }}</h4>
          <p class="user-age">{{ user.age }}</p>
        </li>
      </ul>
      <hr>
    </div>

    <div class="form-control">
      <input
        class="user-input is-todo-input"
        v-model="todo_item"
        type="text"
        aria-label="input todo item">
      <button
        v-on:click="addTodoItem"
        type="button"
        class="button is-primary">
        Add Todo Item</button>
    </div>

    <ul class="todo-list">
      <li
        class="box todo-item"
        v-for="(item, index) in todoList">
        <label class="pointer">
          <input
            v-bind:checked="item.done"
            type="checkbox"> {{ item.todo }}
        </label>
        <button
          v-on:click="removeTodoItem(index)"
          type="button"
          class="button is-fr is-danger">remove</button>
      </li>
    </ul>

    <hr>

    <input
      class="user-input is-currency"
      type="text"
      v-model="currency">

    <button
      v-on:click="changeCurrency"
      type="button"
      class="button is-info">
      change currency value</button>

    <p class="result-currency">
      {{ changed_currency_value }}
    </p>

  </div>

<!-- <script src="https://unpkg.com/jquery"></script> -->
<script src="https://unpkg.com/vue"></script>
<script src="js/vue-study.js"></script>
</body>
</html>
